extends layout

block textEditor
  script(src="/ckeditor/ckeditor.js")
  script.
    // window.onload = function() {
    //   CKEDITOR.replace( 'msgpost',{
    //   });
    // };
block content
  div(id="addStoryChapter-page")
    a(href="/admin?type=story") List Truyện Chữ
    br
    br
    form(action="addStoryChapter", method="POST", enctype="multipart/form-data")
      input(name="chapter-id", id="chapter-id", type="hidden", value="#{story._id}")
      span Tên Truyện:
      br
      input(name="story-title", id="story-title", class="story-titles editables", type="text", value="#{story.title}")
      br
      span Tác Giả:
      br
      input(name="story-author", id="story-author", class="story-author editables", type="text", value="#{story.author}")
      br
      span Thể Loại
      br
      select(name="story-cate", id="story-cate")
        option(value="0") Ngôn Tình
      br
      span Cover Link
      br
      input(name="story-cover", id="story-cover", class="story-cover editables", type="text", value="#{story.cover}")
      br
      span Giới Thiệu:
      br
      textarea(name="story-shortDes", id="story-shortDes", class="story-shortDes editables", value="#{story.shortDes}")
      br
      span Các Chương Đã Có:
      br
      select(name="story-chapters", id="story-chapters")
        - each chapter in story.chapters
          option Chương #{chapter.chapter} - #{chapter.title}
      input(name="chapter-count", id="chapter-count", type="hidden", value="")
      div(id="chapters-wapper")
      button(type="button", onClick="addMoreChapter()") Thêm Chapter
      br
      br
      input(type="submit", name="submit", value="Save")
      // span asdsad
      // br
      // textarea(id="msgpost", name="msgpost", class="input-panel")
      
