extends layout

block textEditor
  script(src="/ckeditor/ckeditor.js")
block content
  div(id="editStoryChapter-page")
    - if (typeof(error) != 'undefined')
      div(class="errorText", style="text-align:center") #{error}
    - else
      button(id="btnRemoveNews", onClick="removeNews('#{news._id}', '#{news.title}'); return false;") Remove
      form(id="editNewsForm", action="editNews", method="POST", enctype="multipart/form-data", style="width:90%; margin:auto")
        br
        input(name="newsId", id="newsId", type="hidden", value="#{news._id}")
        table(class="detailTable")
          tr
            td(class="detailTableTexts") Tiêu Đề:
            td(class="detailTableInputRows")
              input(name="newsTitle", id="newsTitle", class="detailTableInputs", type="text", value="#{news.title}")
          tr
            td(class="detailTableTexts") Thể Loại:
            td(class="detailTableInputRows")
              select(name="newsCategory", id="newsCategory")
                - each cate, index in newsCates
                  - if (index == news.type)
                    option(value="#{index}", selected="selected") #{cate.title}
                  - else
                    option(value="#{index}") #{cate.title}
          tr
            td(class="detailTableTexts") Link Truyện:
            td(class="detailTableInputRows")
              input(name="newsStoryLink", id="newsStoryLink", class="detailTableInputs", type="text", value="")
          tr
            td(class="detailTableTexts") Ảnh Bìa:
            td(class="detailTableInputRows")
              input(type="file", name="newsCoverUpload", id="newsCoverUpload")
          tr
            td(class="detailTableTexts") Tóm Tắt:
            td(class="detailTableInputRows")
              textarea(name="newsShortDes", id="newsShortDes", class="detailTableInputs shortDesInput")
                | #{news.shortDes}
          tr
            td(class="detailTableTexts") Nội Dung:
            td(class="detailTableInputRows")
              textarea(id="msgpost", name="msgpost", class="input-panel")
                | #{news.content}
          tr
            td(class="detailTableTexts")
            td(class="detailTableInputRows")
              div(id="btnPreview", class="btnPreview", style="float:right") Preview
              input(type="submit", name="submit", value="Update", class="submitButton")
            
    div(id="previewPanel", class="previewPanel")
      div(id="toPopup")
        div(class="close")
        div(id="popup_content")
      div(class="loader")
      div(id="backgroundPopup")
  block afterScript
    script
      // ##### edit story chapter content
      CKEDITOR.replace( 'msgpost',{
        width: "700px",
        height: "600px"
      });
    
      $("#btnPreview").click(function() {
        showPopupPreview(CKEDITOR.instances['msgpost'].getData());
      });
    
      $("#newsCoverUpload").change(function(e) {
        var file, img;
        if ((file = this.files[0])) {
          img = new Image();
          img.onload = function() {
            if (this.width < 200 || this.height < 300) {
              $("#newsCoverUpload").replaceWith($("#newsCoverUpload").val('').clone(true));
              alert("Ảnh size tối thiểu là 200x300!");
            }
            // alert(this.width + " " + this.height);
          };
          img.src = _URL.createObjectURL(file);
        }
      });
    
      $("#editNewsForm").validate({
        rules: {
          newsTitle: {
            required: true,
          },
          newsCoverUpload: {
            accept: "image/*"
          },
          msgpost: {
            required: true,
          }
        },
        messages: {
          newsTitle: {
            required: "Chưa Điền Tên Truyện!",
          },
          newsCoverUpload: {
            accept: "Không Đúng File!"
          },
          msgpost: {
            required: "Chưa Điền Nội Dung!",
          }
        }
      });