extends layout

block content
  div(id="editStory-page", class="contentPages")
    - if (typeof(success) != 'undefined')
      div(class="successDiv") #{success}
    - if (typeof(error) != 'undefined')
      div(class="errorText", style="text-align:center") #{error}
    - if (typeof(story) != 'undefined')
      form(action="editStory", method="POST", enctype="multipart/form-data", style="width:90%; margin:auto")
        input(type="submit", name="submit", value="Update", class="submitButton", style="margin-top: 10px")
        button(id="btnRemoveStory", onClick="removeStory('#{story._id}', '#{story.title}'); return false;") Remove
        input(name="id", id="id", type="hidden", value="#{story._id}")
        br
        table(class="detailTable")
          tr
            td(class="detailTableTexts")
            td(class="detailTableInputRows")
          tr
            td(class="detailTableTexts") Tên Truyện:
            td(class="detailTableInputRows")
              input(name="storyTitle", id="storyTitle", class="detailTableInputs", type="text", value="#{story.title}")
          tr
            td(class="detailTableTexts") Tác Giả:
            td(class="detailTableInputRows")
              input(name="storyAuthor", id="storyAuthor", class="detailTableInputs", type="text", value="#{story.author}")
          tr
            td(class="detailTableTexts") Ảnh Bìa:
            td(class="detailTableInputRows")
              - if (typeof(story.cover) != 'undefined')
                input(name="storyCover", id="storyCover", class="detailTableInputs", type="text", value="#{story.cover}")
              - else
                input(name="storyCover", id="storyCover", class="detailTableInputs", type="text", value="")
          tr
            td(class="detailTableTexts") Thể Loại:
            td(class="detailTableInputRows")
              - each cate, index in storyCates
                - if (typeof(story.cate) != 'undefined' && story.cate.indexOf(index.toString()) != -1)
                  input(name="storyCategory", id="storyCategory", type="checkbox", value="#{index}", checked)
                - else
                  input(name="storyCategory", id="storyCategory", type="checkbox", value="#{index}")
                span #{cate}
                br
          tr
            td(class="detailTableTexts") Giới Thiệu:
            td(class="detailTableInputRows")
              textArea(class="shortDesInput")
                | #{story.shortDes}
          tr
            td(class="detailTableTexts") Lượt View:
            td(class="detailTableInputRows")
              input(name="storyNumView", id="storyNumView", class="detailTableInputs", type="text", value="#{story.numView}")
          tr
            td(class="detailTableTexts") Ngày Đăng:
            td(class="detailTableInputRows") #{story.datePost}
        br
        span Danh Sách Chương:
        br
        br
        a(class="btnAddChapter", href="/addStoryChapter?id=#{story._id}") Thêm Chương
        table(style="margin-top: 20px", class="listTable")
          tr
            th(class="listTableHeader", style="width:30px")
              span(class="row-title listTableRowSTT") STT
            th(class="listTableHeader")
              span(class="row-title") Tên Chương
            th(class="listTableHeader", style="width:100px") 
              span(class="row-title") Poster
            th(class="listTableHeader", style="width:100px")
              span(class="row-title") Chức Năng
          - each chapter,i in story.chapters
            tr
              td(class="")
                input(name="chapter-chapter-#{chapter._id}", id="chapter-chapter-#{chapter._id}", class="", type="text", value="#{chapter.chapter}")
              td(class="")
                input(name="chapter-title-#{chapter._id}", id="chapter-title-#{chapter._id}", class="", type="text", value="#{chapter.title}")
              td(style="text-align:center; vertical-align:middle")
                span #{chapter.poster}
              td(class="listTableRowButtons")
                button(id="btnEditChapter", onClick="openEditStoryChapterPage('#{story._id}', '#{chapter._id}'); return false;") Sửa
                button(id="btnRemove", onClick="removeStoryChapter('#{story._id}', '#{chapter._id}', '#{chapter.title}'); return false;") Xoá