extends layout

block content
  div(id="editUser-page", class="contentPages")
    div(class="pageTitle") Sửa Quyền Admin
    - if (typeof(success) != 'undefined')
      div(class="successDiv") #{success}
    - if (typeof(error) != 'undefined')
      div(class="errorText", style="text-align:center") #{error}
    - if (typeof(userInfo) != 'undefined')
      form(id="editUserForm", action="editUser", method="post")
        input(name="username", id="username", type="hidden", value="#{userInfo.username}")
        table(id="detailTable", class="detailTable", style="width: 45%; margin:auto")
          tr
            td(style="width:200px; padding: 10px") Username:
            td(style="padding: 10px; font-weight: bold")  #{userInfo.username}
          tr
            td(style="width:200px; padding: 10px") Quyền:
            td
              - each access, index in accessable
                - if (userInfo.accessable.indexOf(index) != -1)
                  input(name="userAccess", id="userAccess", type="checkbox", value="#{index}", checked)
                - else 
                  input(name="userAccess", id="userAccess", type="checkbox", value="#{index}")
                span #{access}
                br
        div(id="submit-button", style="width: 100%; text-align:center; margin-top: 10px")
          div(id="bottom")
            - if (typeof(error) != 'undefined')
              div(id="error-display", style="color:red") #{error}
          input(type="submit", name="submit", value="Update", class="submitButton")
  script
    $("document").ready(function(){
      $("#updateUserInfoForm").validate({
        rules: {
          newPassword: {
            required: true,
            minlength: 5
          },
          confirmPassword: {
            required: true,
            minlength: 5,
            equalTo: "#newPassword"
          }
        },
        messages: {
          newPassword: {
            required: "Chưa Điền New Password!",
            minlength: "Pasword phải dài hơn 4 ký tự!"
          },
          confirmPassword: {
            required: "Chưa Điền Confirm Password!",
            minlength: "Pasword phải dài hơn 4 ký tự!",
            equalTo: "Confirm Pass không giống New Pass"
          },
        }
      });
    });