extends layout

block content
  - if (stories.length > 0)
    table
      tr
        td 
          span(class="row-title") STT
        td
          span(class="row-title") Tên Truyện
        td
          span Tác Giả
      - each story,i in stories
        tr
          td #{i}
          td #{story.title}
          td #{story.author}
        //   td
        //     input(type="text", name="attribute#{count}", class="input-box", value="#{i}")
        //   td
        //     textarea(name="value#{count}", class="input-textarea") #{attr}
        // - count += 1