extends layout

block content
  div(id="listStory-page", class="contentPages")
    div(id="button-wrapper")
      a(href="/addStory", class="button_link", id="btnAddStory") Nhập Truyện
    - if (stories.length > 0)
      table(class="listTable")
        tr
          // td
          th(class="listTableHeader", style="width:20px")
            span(class="row-title listTableRowSTT") STT
          th(class="listTableHeader")
            span(class="row-title") Tên Truyện
          th(class="listTableHeader", style="width:130px")
            span Tác Giả
          th(class="listTableHeader", style="width:80px")
            span Lượt Xem
          th(class="listTableHeader")
            span Cover Link
        - each story,i in stories
          tr(class="listTableTR")
            // td
            //   button(id="btnRemove", onClick="removeStory('#{story._id}', '#{story.title}', '#{accessToken}'); return false;") Remove
            //   button(id="btnAddChapter", onClick="openAddStoryChapterPage('#{story._id}'); return false;") Thêm Chương
            //   button(id="btnListChapters", onClick="openListChaptersPage('#{story._id}'); return false;") List Chương
            td(class="listTableRow listTableRowSTT") #{i}
            td(class="listTableRow listTableRowTitle")
              a(href="") #{story.title}
              // input(name="story-title-#{story._id}", id="story-title-#{story._id}", class="story-titles editables", type="text", value="#{story.title}")
            td(class="listTableRow listTableRowAuthor")
              span #{story.author}
              // input(name="story-author-#{story._id}", id="story-author-#{story._id}", class="story-authors editables", type="text", value="#{story.author}")
            td(class="listTableRow listTableRowNumView")
              span #{story.numView}
            td(class="listTableRow listTableRowCoverLink")
              - if (typeof(story.cover) != 'undefined')
                a(href="#{story.cover}", onclick="window.open(this.href); return false;") #{story.cover}
                // input(name="story-cover-#{story._id}", id="story-cover-#{story._id}", class="story-covers editables", type="text", value="#{story.cover}")
              - else
                // input(name="story-cover-#{story._id}", id="story-cover-#{story._id}", class="story-covers editables", type="text", value="")
