extends layout

block content
  div(id="listStory-page", class="contentPages")
    div(id="button-wrapper")
      a(href="/addStory", class="button_link", id="btnAddStory") Nhập Truyện
    - if (stories.length > 0)
      table(class="listTable")
        tr
          // td
          th(class="listTableHeader", style="width:20px")
            span(class="row-title listTableRowSTT") STT
          th(class="listTableHeader")
            span(class="row-title") Tên Truyện
          th(class="listTableHeader", style="width:130px")
            span Tác Giả
          th(class="listTableHeader", style="width:80px")
            span Lượt Xem
          th(class="listTableHeader")
            span Cover Link
        - each story,i in stories
          tr(class="listTableTR")
            td(class="listTableRow listTableRowSTT") #{i}
            td(class="listTableRow listTableRowTitle")
              a(href="/editStory?id=#{story._id}") #{story.title}
            td(class="listTableRow listTableRowAuthor")
              span #{story.author}
            td(class="listTableRow listTableRowNumView")
              span #{story.numView}
            td(class="listTableRow listTableRowCoverLink")
              - if (typeof(story.cover) != 'undefined')
                a(href="#{story.cover}", onclick="window.open(this.href); return false;") #{story.cover}