extends layout

block metaData
  meta(name="keywords", content="Đọc truyện trực tuyến, đọc truyện online, doc truyen truc tuyen, doc truyen online, đọc truyện, doc truyen, truyen tranh, sach truyen, truyện tranh, sách truyện, full truyen")

block jsScripts
  script(src="javascripts/button.js", type="text/javascript")
  script(src="javascripts/imageSlider.js", type="text/javascript")
  script(src="/javascripts/jquery.dotdotdot.min.js", type="text/javascript")
  
block content
  div(id="homePage")
    div(id="imageSlider")
      div(id="imageSliderWrapper")
        - count = 0;
        - for (var i = 0; i < 5; i++)
          div(class="pages", id="slider#{i+1}")
            - for (var j = 0; j < 6; j++)
              div(class="books")
                div(id="bookCoverWrapper")
                  a(href="/truyen/#{sliderBooks[count]._id}/#{sliderBooks[count].title}")
                    img(id="bookCover", src="#{sliderBooks[count].cover}", onerror="this.src='/images/storyDefaultCover.jpg'")
                div(id="bookDetails")
                  a(href="/truyen/#{sliderBooks[count]._id}/#{sliderBooks[count].title}") #{sliderBooks[count].title}
                  span(id="bookAuthor")  - #{sliderBooks[count].author}
                  // p(id="bookDes") #{sliderBooks[count].shortDes}
              - count++
    div(id="homePagePagingWrapper", class="pagingWrapper")
      div(id="toStart", class="pagingItems")
        img(src="/images/website/btnToStart.png", id="btnToStart", class="pagingImgs")
      div(id="prev", class="pagingItems")
        img(src="/images/website/btnPrev.png", id="btnPrev", class="pagingImgs")
      div(id="page1", class="pagingItems pagingNumbs active", data-page="1") 1
      div(id="page2", class="pagingItems pagingNumbs", data-page="2") 2
      div(id="page3", class="pagingItems pagingNumbs", data-page="3") 3
      div(id="page4", class="pagingItems pagingNumbs", data-page="4") 4
      div(id="page5", class="pagingItems pagingNumbs", data-page="5") 5
      div(id="next", class="pagingItems")
        img(src="/images/website/btnNext.png", id="btnNext", class="pagingImgs")
      div(id="toEnd", class="pagingItems")  
        img(src="/images/website/btnToEnd.png", id="btnToEnd", class="pagingImgs")
    div(id="bottomWrapper")
      div(id="bottomLeft")
        div(id="bottomLeftCateWrapper")
          ul(id="bottomLeftCateUl")
            li(class="bottomLeftCateLi bottomLeftCateLiActive", data-id="new")
              span MỚI
            li(class="bottomLeftCateLi", data-id="hot")
              span HOT
            li(class="bottomLeftCateLi", data-id="full")
              span FULL
            li(class="bottomLeftCateLi", data-id="recommend")
              span ĐỀ CỬ
        div(id="bottomLeftContent")
          - each book, i in newBooks
            div(class="bookContents")
              span(style="color:#2795bf") #{i + 1}. 
              a(href="/truyen/#{book._id}/#{book.title}") #{book.title}
              br
              div(style="font-style:italic; color: grey; margin-left: 16px; margin-top: 3px") #{book.author}
      div(id="bottomMiddle")
        div(id="bottomMiddleWrapper")
          div(id="bottomMiddleTitle")
            div(id="text") ĐIỂM TIN SÁCH
            ul(id="newsUL")
              - each aNews in homePageNews
                li(class="newsContents")
                  span(style="color: green") &raquo; 
                  a(href="/diem-tin/list-truyen/#{aNews._id}/#{aNews.title}") #{aNews.title}
      div(id="bottomRight")
        div(id="foldedTop")
          div(id="foldedTopWrapper")
            div(id="foldedTopTitle") TRÍCH DẪN HAY
        div(id="foldedBottom")
          div(id="foldedBottomWrapper")
            div(id="foldedBottomTitle") GÓC NHỎ TÂM HỒN
  script
    var pagingWrapper = document.getElementById("homePagePagingWrapper");
    var imageSlider = document.getElementById("imageSlider");
    ImageSlider.Init(imageSlider, pagingWrapper);
    
    // switch bottom tab
    var dataHotBooks = !{JSON.stringify(hotBooks)};
    var dataNewBooks = !{JSON.stringify(newBooks)};
    var datafulledBooks = !{JSON.stringify(fulledBooks)};
    $('.bookContents').dotdotdot();
    $('.newsContents').dotdotdot();
    $(".bottomLeftCateLi").click(function(e) {
      $(".bottomLeftCateLi").removeClass("bottomLeftCateLiActive");
      $(this).addClass("bottomLeftCateLiActive");
      var dataString = "";
      switch($(this).data("id")) {
        case "new":
          for (var i = 0; i < dataNewBooks.length; i++) {
            dataString += '<div class="bookContents"><span style="color:#2795bf">' + (i + 1) + '. </span><a href="/truyen/' + dataNewBooks[i]._id + '/' + dataNewBooks[i].title + '">' + dataNewBooks[i].title
                        + '</a></br><div style="font-style:italic; color: grey; margin-left: 16px; margin-top: 3px">' + dataNewBooks[i].author + '</div></div>'
          }
        break;
        case "hot":
          for (var i = 0; i < dataHotBooks.length; i++) {
            dataString += '<div class="bookContents"><span style="color:#2795bf">' + (i + 1) + '. </span><a href="/truyen/' + dataHotBooks[i]._id + '/' + dataHotBooks[i].title + '">' + dataHotBooks[i].title
                        + '</a></br><div style="font-style:italic; color: grey; margin-left: 16px; margin-top: 3px">' + dataHotBooks[i].author + '</div></div>'
          }
        break;
        case "full":
          for (var i = 0; i < dataHotBooks.length; i++) {
            dataString += '<div class="bookContents"><span style="color:#2795bf">' + (i + 1) + '. </span><a href="/truyen/'
                        + datafulledBooks[i]._id + '/' + datafulledBooks[i].title + '">' + datafulledBooks[i].title
                        + '</a></br><div style="font-style:italic; color: grey; margin-left: 16px; margin-top: 3px">' + datafulledBooks[i].author + '</div></div>'
          }
        break;
      }
      var bottomLeftContent = $("#bottomLeftContent");
      bottomLeftContent.html(dataString);
      $('.bookContents').dotdotdot();
      bottomLeftContent.hide();
      bottomLeftContent.fadeIn(400);
    });