extends layout
block jsScripts
  script(src="javascripts/button.js", type="text/javascript")
  script(src="javascripts/imageSlider.js", type="text/javascript")
block content
  div(id="homePage")
    div(id="imageSlider")
      div(id="imageSliderWrapper")
        - count = 0;
        - for (var i = 0; i < 5; i++)
          div(class="pages", id="slider#{i+1}")
            - for (var j = 0; j < 6; j++)
              div(class="books")
                div(id="bookCoverWrapper")
                  img(id="bookCover", src="#{sliderBooks[count].cover}")
                div(id="bookDetails")
                  a(href="#") #{sliderBooks[count].title}
                  span(id="bookAuthor")  - #{sliderBooks[count].author}
                  p(id="bookDes") #{sliderBooks[count].shortDes}
              - count++
    div(id="pagingWrapper")
      div(id="toStart", class="pagingItems")
        img(src="/images/website/btnToStart.png", id="btnToStart", class="pagingImgs")
      div(id="prev", class="pagingItems")
        img(src="/images/website/btnPrev.png", id="btnPrev", class="pagingImgs")
      div(id="page1", class="pagingItems pagingNumbs active", data-page="1") 1
      div(id="page2", class="pagingItems pagingNumbs", data-page="2") 2
      div(id="page3", class="pagingItems pagingNumbs", data-page="3") 3
      div(id="page4", class="pagingItems pagingNumbs", data-page="4") 4
      div(id="page5", class="pagingItems pagingNumbs", data-page="5") 5
      div(id="next", class="pagingItems")
        img(src="/images/website/btnNext.png", id="btnNext", class="pagingImgs")
      div(id="toEnd", class="pagingItems")  
        img(src="/images/website/btnToEnd.png", id="btnToEnd", class="pagingImgs")
    div(id="bottomWrapper")
      div(id="bottomLeft")
        div(id="bottomLeftCateWrapper")
          ul(id="bottomLeftCateUl")
            li(class="bottomLeftCateLi")
              a(href="#") MỚI
            li(class="bottomLeftCateLi")
              a(href="#") HOT
            li(class="bottomLeftCateLi")
              a(href="#") FULL
            li(class="bottomLeftCateLi")
              a(href="#") ĐỀ CỬ
      div(id="bottomMiddle")
        div(id="bottomMiddleWrapper")
          div(id="bottomMiddleTitle") ĐIỂM TIN SÁCH
      div(id="bottomRight")
        div(id="foldedTop")
          div(id="foldedTopWrapper")
            div(id="foldedTopTitle") TRÍCH DẪN HAY
        div(id="foldedBottom")
          div(id="foldedBottomWrapper")
            div(id="foldedBottomTitle") GÓC NHỎ TÂM HỒN
  script
    var pagingWrapper = document.getElementById("pagingWrapper");
    var imageSlider = document.getElementById("imageSlider");
    ImageSlider.Init(imageSlider, pagingWrapper);