extends layout

block metaData
  meta(name="keywords", content="Đọc truyện trực tuyến, đọc truyện online, doc truyen truc tuyen, doc truyen online, đọc truyện, doc truyen, truyen tranh, sach truyen, truyện tranh, sách truyện, full truyen, danh sach truyen, danh sách truyện")

block content
  div(id="listStoryPage", class="contentPages")
    div(id="listStoryContent", class="listContent")
      - if (stories.length > 0)
        table(id="listStoryTable", class="listTable")
          tr(id="tableHeaders")
            - if (orderType == "0")
              th(class="listTableHeader")
                a(class="row-title link-row-title", href="/danh-sach-truyen/#{currentPage}/0/#{orderStyle == 'asc' ? 'des' : 'asc'}") Tên Truyện
                img(src="/images/website/#{orderStyle == 'asc' ? 'ascending.png' : 'descending.png'}", class="order-img-row-title")
            - else
              th(class="listTableHeader")
                a(class="row-title link-row-title", href="/danh-sach-truyen/#{currentPage}/0/asc") Tên Truyện
            - if (orderType == "1")
              th(class="listTableHeader")
                a(class="row-title link-row-title", href="/danh-sach-truyen/#{currentPage}/1/#{orderStyle == 'asc' ? 'des' : 'asc'}") Tác Giả
                img(src="/images/website/#{orderStyle == 'asc' ? 'ascending.png' : 'descending.png'}", class="order-img-row-title")
            - else
              th(class="listTableHeader")
                a(class="row-title link-row-title", href="/danh-sach-truyen/#{currentPage}/1/asc") Tác Giả
            // - if (orderType == "2")
            //   th(class="listTableHeader", style="width:80px")
            //     a(class="row-title link-row-title", href="/danh-sach-truyen/#{currentPage}/2/#{orderStyle == 'asc' ? 'des' : 'asc'}") Thể Loại
            //     img(src="/images/website/#{orderStyle == 'asc' ? 'ascending.png' : 'descending.png'}", class="order-img-row-title")
            // - else
            //   th(class="listTableHeader", style="width:80px")
            //     a(class="row-title link-row-title", href="/danh-sach-truyen/#{currentPage}/2/asc") Thể Loại
            - if (orderType == "3")
              th(class="listTableHeader")
                a(class="row-title link-row-title", href="/danh-sach-truyen/#{currentPage}/3/#{orderStyle == 'asc' ? 'des' : 'asc'}") Lượt Xem
                img(src="/images/website/#{orderStyle == 'asc' ? 'ascending.png' : 'descending.png'}", class="order-img-row-title")
            - else
              th(class="listTableHeader")
                a(class="row-title link-row-title", href="/danh-sach-truyen/#{currentPage}/3/asc") Lượt Xem
            - if (orderType == "4")
              th(class="listTableHeader")
                a(class="row-title link-row-title", href="/danh-sach-truyen/#{currentPage}/4/#{orderStyle == 'asc' ? 'des' : 'asc'}") Ngày Post 
                img(src="/images/website/#{orderStyle == 'asc' ? 'ascending.png' : 'descending.png'}", class="order-img-row-title")
            - else
              th(class="listTableHeader")
                a(class="row-title link-row-title", href="/danh-sach-truyen/#{currentPage}/4/asc") Ngày Post 
          - each story,i in stories
            tr(class="listTableTR")
              td(class="listTableRow listTableRowTitle")
                a(href="/truyen/#{story._id}/#{beautyLink(story.title)}") #{story.title}
              td(class="listTableRow listTableRowAuthor")
                a(href="/danh-sach-truyen/1/4/des/#{story.author}", class="author") #{story.author}
              // td(class="listTableRow listTableRowNumView")
              //   span #{story.cate}
              td(class="listTableRow listTableRowNumView")
                span #{story.numView}
              td(class="listTableRow listTableRowNumView")
                span #{prettyDate(story.datePost)}
    div(id="listStoryCategoryContent", class="categoryContent")
      div(id="cateTitle") Thể Loại
      a(href="#")
        div(class="cateTypes")
          div(class="text") Tất Cả
      - each type in storyTypes
        a(href="#")
          div(class="cateTypes")
            div(class="text") #{type}
    div(class="pagingWrapper", id="listStoryPagingWrapper")
      - if (currentPage - 3 > 1)
        a(id="toStart", class="pagingItems", href="/danh-sach-truyen/1/#{orderType}/#{orderStyle}")
          img(src="/images/website/btnToStart.png", id="btnToStart", class="pagingImgs")
        a(id="prev", class="pagingItems", href="/danh-sach-truyen/#{currentPage - 1}/#{orderType}/#{orderStyle}")
          img(src="/images/website/btnPrev.png", id="btnPrev", class="pagingImgs")
        span ...
      - var maxBound = currentPage + 3 > maxStoryPage ? maxStoryPage : currentPage + 3;
      - for (var i = (currentPage - 3) > 0 ? (currentPage - 3) : 1; i <= maxBound; i++)
        - if (currentPage == i)
          a(href="/danh-sach-truyen/#{i}/#{orderType}/#{orderStyle}")
            div(id="page#{i}", class="pagingItems pagingNumbs active") #{i}
        - else
          a(href="/danh-sach-truyen/#{i}/#{orderType}/#{orderStyle}")
            div(id="page#{i}", class="pagingItems pagingNumbs") #{i}
      - if (currentPage + 3 < maxStoryPage)
        span ...
        a(id="next", class="pagingItems", href="/danh-sach-truyen/#{currentPage + 1}/#{orderType}/#{orderStyle}")
          img(src="/images/website/btnNext.png", id="btnNext", class="pagingImgs")
        a(id="toEnd", class="pagingItems", href="/danh-sach-truyen/#{maxStoryPage}/#{orderType}/#{orderStyle}")  
          img(src="/images/website/btnToEnd.png", id="btnToEnd", class="pagingImgs")