extends layout

block content
  div(id="storyReadingPage", class="contentPages")
    div(id="chapterTitle") #{chapter.title}
    div(class="fb-like fbLikeChapters", data-href="http://fulltruyen.com/doc-truyen/#{story._id}/#{chapter._id}/#{chapter.title}", data-layout="button_count", data-action="like", data-show-faces="true", data-share="true")
    div!= chapter.content
    div(id="changeChapterWrap")
      table(id="tableContent")
        tr
          td(id="colum1", class="colums buttons")
            - if (typeof(nextPrevChapter.prev) != 'undefined')
              a(href="/doc-truyen/#{story._id}/#{nextPrevChapter.prev._id}/#{nextPrevChapter.prev.title}")
                img(src="/images/website/btnPrevChapter.png", class="nextImages")
          td(id="colum1", class="colums")
            - if (typeof(nextPrevChapter.prev) != 'undefined')
              a(href="/doc-truyen/#{story._id}/#{nextPrevChapter.prev._id}/#{nextPrevChapter.prev.title}")
                span #{nextPrevChapter.prev.title}
          td(id="tableGap", style="width: 80px")
            a(href="/truyen/#{story._id}/#{story.title}")
              img(src="/images/website/btnHome.png")
          td(id="colum2", class="colums")
            - if (typeof(nextPrevChapter.next) != 'undefined')
              a(href="/doc-truyen/#{story._id}/#{nextPrevChapter.next._id}/#{nextPrevChapter.next.title}")
                span #{nextPrevChapter.next.title}
          td(id="colum1", class="colums buttons")
            - if (typeof(nextPrevChapter.next) != 'undefined')
              a(href="/doc-truyen/#{story._id}/#{nextPrevChapter.next._id}/#{nextPrevChapter.next.title}")
                img(src="/images/website/btnNextChapter.png", class="nextImages")
    div(id="bottomPage")
      h1(id="commentTitle") Bình luận cho "#{chapter.title}"
      div(class="fb-like fbLikeChapters", data-href="http://fulltruyen.com/doc-truyen/#{story._id}/#{chapter._id}/#{chapter.title}", data-layout="button_count", data-action="like", data-show-faces="true", data-share="true")
      div(class="fb-comments", data-href="http://fulltruyen.com/doc-truyen/#{story._id}/#{chapter._id}/#{chapter.title}", data-width="830", data-numposts="5", data-colorscheme="light")
    div(class="pageGap")